*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Verdana, Helvetica, sans-serif;
  position: static;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

header {
  font-size: 20px;
  background-color: grey;
}

nav {
  font-size: 15px;
  background-color: green;
}

main {
  font-size: 30px;
  background-color: blue;
}

footer {
  font-size: 10px;
  background-color: yellow;
  position: fixed;
  bottom: 0;
  width: 95%;
  height: 60px;
}
